<% if @products.empty? %>
  <p>There are no products available.</p>
<% else %>
  <% @products.each do |product| %>
  <h3><%= product.title %></h3>
  <p>Price: $<%= product.price %></p>
  <p>Quantity: <%= product.stock_quantity %></p>
  <% end %>
<% end %>